.slider{
  width:100vw;
  height:100vh;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_track{
 width: 90%;
 height: 400px;
 display: flex;
 align-items: center;
 flex-direction: row;
 background-color:#000; 
 padding: 10px;
}


@keyframes scroll {
  0% {
     transform:translateX(0%);
  }
  100%{
     transform:translateX(-100%);
  }
}



