.wrapper{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.slider{
  width:1000px;
  height: 100px;
  position: relative;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  overflow: hidden;
}

.slide_track{
 height: 100px;
 display: flex;
 align-items: center;
 animation: scroll 8s linear infinite;
}

.img{
  height: 100px;
  margin: 20px;
}

@keyframes scroll {
  0% {
     transform:translateX(0%);
  }
  100%{
     transform:translateX(-100%);
  }
}



